.Game-selection {
  width: min-content;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
}

.Game-selection-header {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.Game-preview {
  width: 500px;
  margin-bottom: 2.5rem;
}

.Game-container {
  width: 900px;
  position: relative;
}

.Game-image {
  height: 100%;
  width: 100%;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin-bottom: 0.75rem;
}

.Game-form {
  position: absolute;
  background-color: #fafafa;
  padding: 0.75rem;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  box-sizing: border-box;
  z-index: 1;
}

.Game-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;

  background-color: #2563eb;
  color: #fafafa;
  display: block;
}

.Game-button.fullsize {
  width: 100%;
}

.Game-button.small {
  width: 75px;
  height: auto;
}

.Game-button.center {
  margin: 0 auto;
}

.Game-button:not(:last-child) {
  margin-bottom: 0.25rem;
}

.Game-button:hover {
  background-color: #3b82f6;
}

.Game-button:active {
  background-color: #1d4ed8;
}

.Game-avatar {
  width: 100px;
  height: auto;
  border: 2px red solid;
  border-radius: 5px;
}

.Game-avatar:not(:last-child) {
  margin-right: 0.5rem;
}

.Game-avatar.found {
  border-color: green;
}

.Game-marker {
  position: absolute;
  border: 2px green solid;
}